<div>
    <div class="container">
        <div class="row">
            <div class="cadastrar-usuario-pai mt-30">
                <div class="">
                    <img src="img/loginwithfb.png" alt="MyLittleSchool" class="img-responsive" 
                    style="margin: auto;width: 40%;margin-bottom: 50px;" />
                </div>
                <form id="login" method="POST" >
                    <fieldset>
                        <legend class="col-xs-12">Faça seu Login</legend>
                        <div class="col-xs-12 col-md-6">
                            <input name="login" id="login" class="form-control mb-20" 
                            placeholder="Informe seu Login" maxlength="100" />
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <input name="senha" id="senha" class="form-control mb-20" 
                            placeholder="Informe sua Senha" maxlength="150" />
                        </div>
                        <!--
                        <div class="col-xs-12">
                            <input class="btn btn-success mb-20" 
                            value="Logar" type="submit" />
                        </div>
                        -->
                    </fieldset>
                </form>
                <div class="col-xs-12">
                    <button class="btn btn-success" 
                    onclick="javascript:$('main').load(window.location.href+'view/main/opcoes-usuario.html');">
                        Logar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/forms/cadastrar-usuario-pai-scripts.js"></script>