<div>
    <div class="container">
        <div class="login col-xs-12 col-md-offset-6 col-md-6 text-right">
            <span>
                <a href="javascript:$('main').load(window.location.href+'view/main/regiao.html');">
                    <i class="fa fa-globe" aria-hidden="true"></i> TROCAR REGIÃO
                </a>
                <a href="javascript:$('main').load(window.location.href+'view/forms/login.html');">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> LOGIN
                </a>
                <a href="javascript:$('main').load(window.location.href+'view/main/cadastrar-usuario.html');">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i> CADASTRAR
                </a>
                <!--
                <a href="javascript:$('main').load(window.location.href+'view/main/listagem-escolas-por-bairro.html');">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i> TESTE
                </a>
                -->
            </span>
        </div>
    </div>
</div>