<div>
    <div class="container">
        <div class="dashboard">
            <div class="dashboard-container col-xs-12 col-md-offset-2 col-md-8 mt-xs-30 mt-md-50">
                <div class="row">                    
                    <div class="informacoes-dashboard col-xs-12 col-md-6 mb-xs-20 mb-md-0">
                        <h3>
                            Olá <span class="search-nome"></span> !
                        </h3>
                        <h3>
                            Olá <span class="search-nomeFantasia"></span> !
                        </h3>
                        <p>
                            Veja abaixo suas informações cadastradas!
                        </p>
                        <p>
                            <b>E-mail: </b><span class="search-email"></span>
                        </p>
                        <p>
                            <b>CPF: </b><span class="search-cpf"></span>
                        </p>
                        <p>
                            <b>CNPJ: </b><span class="search-cnpj"></span>
                        </p>
                        <p>
                            <b>Razão Social: </b><span class="search-razaoSocial"></span>
                        </p>
                        <p>
                            <b>Login: </b><span class="search-login"></span>
                        </p>
                        <p>
                            <b>Logradouro: </b><span class="search-logradouro"></span>
                        </p>
                        <p>
                            <b>Bairro: </b><span class="search-bairro"></span>
                        </p>
                        <p>
                            <b>Cidade: </b><span class="search-cidade"></span>
                        </p>
                        <p>
                            <b>Estado: </b><span class="search-estado"></span>
                        </p>
                    </div>
                    <div class="menu-dashboard col-xs-12 col-md-6 mb-xs-20 mb-md-0">
                        <h3>
                            Opções da aplicação
                        </h3>
                        <ul>
                            <li>
                                <a href="javascript:void(0);" onclick=""
                                disabled>
                                    Editar Informações
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick=""
                                disabled>
                                    Acompanhar Filho(s)
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick=""
                                disabled>
                                    Avalie a escola de seu filho
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" onclick=""
                                disabled>
                                    Entre em contato com outros pais
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" 
                                onclick="javascript:$('main').load(window.location.href+'view/main/show-mensagem.html');">
                                    Vizualizar Mensagens
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/main/dashboard-scripts.js"></script>
