<div>
    <div class="container">
        <div class="row">
            <div class="cadastrar-usuario-pai mt-30" style='font-size: 20px;'>
                <div class="row">
                    <div class="col-xs-12 col-md-6 mb-30">
                        <div>
                            <b>NOME: </b>Maicon Junio Heredes Lopes
                        </div>
                        <div>
                            <b>EMAIL: </b>maicon.lopes@izap.com.br
                        </div>
                        <div>
                            <b>ENDEREÇO: </b>Rua Japão N 71
                        </div>
                        <div>
                            <b>BAIRRO: </b>Esperança (Justinopolis)
                        </div>
                        <div>
                            <b>CIDADE: </b>Ribeirão das Neves
                        </div>
                        <div>
                            <b>ESTADO: </b>Minas Gerais
                        </div>
                        <div>
                            <b>POSSUI FILHOS? </b>SIM
                        </div>
                        <div>
                            <b>NOME DOS FILHOS: </b>Carlos, Henrique, Julia
                        </div> 
                    </div>
                    <div class="col-xs-12 col-md-6 mb-30">
                        <div>
                            <a href="javascript:void(0);">Redefinir senha</a>
                        </div>
                        <div>
                            <a href="javascript:void(0);">Minhas perguntas</a>
                        </div>
                        <div>
                            <a href="javascript:$('main').load(window.location.href+'view/main/regiao.html');">
                                Sair
                            </a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>